apturl===0.5.2ubuntu4
backports-abc==0.4
beautifulsoup4==4.3.2
Brlapi==0.6.1
chardet==2.2.1
checkbox-ng==0.3
checkbox-support==0.2
command-not-found==0.3
CVXcanon==0.0.23.4
cvxopt==1.1.8
cvxpy==0.4.0
cycler==0.9.0
decorator==4.0.9
defer==1.0.6
dill==0.2.5
ecos==2.0.4
feedparser==5.1.3
friends==0.1
gym==0.1.0
httplib2==0.8
ipykernel==4.2.2
ipython==4.1.1
ipython-genutils==0.1.0
ipython-sql==0.3.6
ipywidgets==4.0.3
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
Keras==1.0.5
language-selector==0.1
Lasagne==0.2.dev1
louis==2.5.3
lxml==3.3.3
Mako==0.9.1
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
multiprocess==0.70.4
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.10
nltk==3.0.2
nose==1.3.1
notebook==4.1.0
numpy==1.11.1
oauthlib==0.6.1
onboard==1.0.1
oneconf==0.3.7.14.4.1
pandas==0.17.1
path.py==8.1.2
patsy==0.4.0
pexpect==4.0.1
pickleshare==0.6
Pillow==2.3.0
piston-mini-client==0.7.5
plainbox==0.5.3
prettytable==0.7.2
psutil==3.2.2
ptyprocess==0.5.1
pycrypto==2.6.1
pycurl==7.19.3
pyglet==1.2.4
Pygments==2.1
pygobject==3.12.0
pymc3==3.0
PyMySQL==0.7.1
pyparsing==2.0.6
PyStanfordDependencies==0.3.1
python-apt===0.9.3.5ubuntu2
python-dateutil==2.4.2
python-debian===0.1.21-nmu2ubuntu2
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.0.1
requests==2.2.1
scikit-learn==0.17.1
scipy==0.17.1
screen-resolution-extra==0.0.0
scs==1.2.6
seaborn==0.6.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.0.12
sqlparse==0.1.18
tabulate==0.7.5
terminado==0.6
Theano==0.8.2
toolz==0.7.4
tornado==4.3
traitlets==4.1.0
ubuntu-drivers-common==0.0.0
ufw===0.34-rc-0ubuntu2
unattended-upgrades==0.1
Unidecode==0.4.18
unity-scope-audacious==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-clementine==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-gmusicbrowser==0.1
unity-scope-gourmet==0.1
unity-scope-guayadeque==0.1
unity-scope-manpages==0.1
unity-scope-musique==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.7.1
usb-creator==0.2.23
xdiagnose===3.6.3build2
xkit==0.0.0
